In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Analysis Questions: 
1) What is the current demographic of educators? 
2) What is the breakdown of students racial demographic?
3) What is the enrollment trend of students of color?
4) What is the recruitment/retention of teachers of color? 
5) What is the demographic trend of teachers/students at each school level? 
6) What does research tell us about having educators of color?

#### Format txt files into Dataframes

In [102]:
df_reference = pd.read_csv('IndicatorReference.txt', sep='|')
df_reference

,indicator,ShortLabelDashboard,DataSource,Footnote,Glossary,Numerator,Denominator,YearDefinition,DataNotes,IndicatorType
0,Demographics,Student Demographics,OSPI Report Card Data Files++,This measure shows the percent of students by ...,NaN,Students meeting the selected group criteria.,All enrolled students between kindergarten and...,academic year,"Demographics information for the ""Two or More ...",student
1,TeacherDemographics,Teacher Demographics and Experience,OSPI Personnel Reporting File (S-275),This measure shows the percent of teachers by ...,Duty root = The first two digits of the duty c...,Teachers meeting the selected group criteria.,Certified K-12 teachers based upon duty codes ...,academic year,NaN,teacher
2,(2 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df_results = pd.read_csv('Results.txt', sep='|')
df_results

,indicator,academicyear,DistrictCode,SchoolCode,District,School,subgroup,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
0,Demographics,2015.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,15683.0,0.076388,126550.0,0.171529
1,Demographics,2016.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,16126.0,0.078631,127981.0,0.170979
2,Demographics,2017.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,16470.0,0.084517,129191.0,0.171421
3,Demographics,2018.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,17087.0,0.088957,128788.0,0.172268
4,Demographics,2019.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,17611.0,0.097269,128426.0,0.173329
...,...,...,...,...,...,...,...,...,...,...,...
33860,TeacherDemographics,2021.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 20+,0.0,0.000000,7274.0,0.190542
33861,TeacherDemographics,2019.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7180.0,0.185376
33862,TeacherDemographics,2020.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7261.0,0.191158
33863,TeacherDemographics,2021.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7274.0,0.208001
33864,(33864 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df_results["SchoolCode"].value_counts()

3825.0    147
2639.0    147
5016.0    147
4581.0    147
4356.0    147
         ...
3336.0     29
4340.0     23
5610.0     21
5116.0     21
1527.0     17
Name: SchoolCode, Length: 242, dtype: int64

In [105]:
df_school_ref = pd.read_csv('SchoolReference.txt', sep="|")
df_school_ref

,academicyear,DistrictCode,SchoolCode,District,School,TotalEnrollmentOctober,dRoadMapRegionFlag,SchoolType,ElementarySchoolFlag,MiddleSchoolFlag,...,closed,GradeSpan,GradeLevelStart,GradeLevelEnd,GradeLevelSortOrderStart,GradeLevelSortOrderEnd,NCESSchoolID,NCESLocaleCode,NCESLocale,Source
0,2015,17408.0,3825.0,Auburn School District,Alpac Elementary School,551.0,1.0,Public School,1.0,0.0,...,NaN,PK-5,PK,5,1.0,8.0,5.300300e+11,21.0,Suburb: Large,ReportCard
1,2016,17408.0,3825.0,Auburn School District,Alpac Elementary School,613.0,1.0,Public School,1.0,0.0,...,NaN,PK-5,PK,5,1.0,8.0,5.300300e+11,21.0,Suburb: Large,ReportCard
2,2017,17408.0,3825.0,Auburn School District,Alpac Elementary School,612.0,1.0,Public School,1.0,0.0,...,NaN,PK-5,PK,5,1.0,8.0,5.300300e+11,21.0,Suburb: Large,ReportCard
3,2018,17408.0,3825.0,Auburn School District,Alpac Elementary School,668.0,1.0,Public School,1.0,0.0,...,NaN,PK-5,PK,5,1.0,8.0,5.300300e+11,21.0,Suburb: Large,ReportCard
4,2019,17408.0,3825.0,Auburn School District,Alpac Elementary School,651.0,1.0,Public School,1.0,0.0,...,NaN,PK-5,PK,5,1.0,8.0,5.300300e+11,21.0,Suburb: Large,ReportCard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,2021,17406.0,3488.0,Tukwila School District,Tukwila Elementary,478.0,1.0,Public School,1.0,0.0,...,NaN,K-5,K,5,0.0,8.0,5.308130e+11,21.0,Suburb: Large,ReportCard
1559,2019,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,56.0,1.0,Alternative School,0.0,1.0,...,NaN,6-12,6,12,9.0,15.0,5.308130e+11,21.0,Suburb: Large,ReportCard
1560,2020,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,77.0,1.0,Alternative School,0.0,1.0,...,NaN,6-12,6,12,9.0,15.0,5.308130e+11,21.0,Suburb: Large,ReportCard
1561,2021,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,28.0,1.0,Alternative School,0.0,1.0,...,NaN,7-12,7,12,10.0,15.0,5.308130e+11,21.0,Suburb: Large,ReportCard
1562,(1562 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33865 entries, 0 to 33864
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   indicator                 33865 non-null  object
 1   academicyear              33864 non-null  float64
 2   DistrictCode              33864 non-null  float64
 3   SchoolCode                32784 non-null  float64
 4   District                  33864 non-null  object
 5   School                    33864 non-null  object
 6   subgroup                  33864 non-null  object
 7   Denominator               33864 non-null  float64
 8   PercentageStudents        33864 non-null  float64
 9   RoadMapRegionDenominator  33864 non-null  float64
 10  RoadMapRegionPercentage   33864 non-null  float64
dtypes: float64(7), object(4)
memory usage: 2.8+ MB

In [107]:
df_school_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1563 entries, 0 to 1562
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   academicyear              1563 non-null   object
 1   DistrictCode              1562 non-null   float64
 2   SchoolCode                1562 non-null   float64
 3   District                  1562 non-null   object
 4   School                    1562 non-null   object
 5   TotalEnrollmentOctober    1562 non-null   float64
 6   dRoadMapRegionFlag        1562 non-null   float64
 7   SchoolType                1562 non-null   object
 8   ElementarySchoolFlag      1562 non-null   float64
 9   MiddleSchoolFlag          1562 non-null   float64
 10  HighSchoolFlag            1562 non-null   float64
 11  StreetAddress             1561 non-null   object
 12  StreetAddress.1           1561 non-null   object
 13  City                      1561 non-null   object
 14  State                     1561 non-null   object
 15  zip                       1561 non-null   float64
 16  lat                       1561 non-null   float64
 17  long                      1561 non-null   float64
 18  closed                    27 non-null     object
 19  GradeSpan                 1562 non-null   object
 20  GradeLevelStart           1562 non-null   object
 21  GradeLevelEnd             1562 non-null   object
 22  GradeLevelSortOrderStart  1562 non-null   float64
 23  GradeLevelSortOrderEnd    1562 non-null   float64
 24  NCESSchoolID              1561 non-null   float64
 25  NCESLocaleCode            1561 non-null   float64
 26  NCESLocale                1561 non-null   object
 27  Source                    1562 non-null   object
dtypes: float64(14), object(14)
memory usage: 342.0+ KB

In [108]:
results1 = df_results.astype({"academicyear":'object'})
school_ref1 = df_school_ref.astype({"academicyear":'object'})

In [109]:
results1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33865 entries, 0 to 33864
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   indicator                 33865 non-null  object
 1   academicyear              33864 non-null  object
 2   DistrictCode              33864 non-null  float64
 3   SchoolCode                32784 non-null  float64
 4   District                  33864 non-null  object
 5   School                    33864 non-null  object
 6   subgroup                  33864 non-null  object
 7   Denominator               33864 non-null  float64
 8   PercentageStudents        33864 non-null  float64
 9   RoadMapRegionDenominator  33864 non-null  float64
 10  RoadMapRegionPercentage   33864 non-null  float64
dtypes: float64(6), object(5)
memory usage: 2.8+ MB

In [110]:
#concat dfs with keys 
joined_df = pd.merge(results1, school_ref1, how='left', on=["SchoolCode", "academicyear"])
joined_df

,indicator,academicyear,DistrictCode_x,SchoolCode,District_x,School_x,subgroup,Denominator,PercentageStudents,RoadMapRegionDenominator,...,closed,GradeSpan,GradeLevelStart,GradeLevelEnd,GradeLevelSortOrderStart,GradeLevelSortOrderEnd,NCESSchoolID,NCESLocaleCode,NCESLocale,Source
0,Demographics,2015.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,15683.0,0.076388,126550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Demographics,2016.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,16126.0,0.078631,127981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Demographics,2017.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,16470.0,0.084517,129191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Demographics,2018.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,17087.0,0.088957,128788.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Demographics,2019.0,17408.0,NaN,Auburn School District,All Schools in District,Asian,17611.0,0.097269,128426.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33860,TeacherDemographics,2021.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 20+,0.0,0.000000,7274.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33861,TeacherDemographics,2019.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33862,TeacherDemographics,2020.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33863,TeacherDemographics,2021.0,17406.0,5536.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7274.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33864,(33864 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
joined_df.isnull().sum()
#will use variables that have 0-1 nulls

indicator                       0
academicyear                    1
DistrictCode_x                  1
SchoolCode                   1081
District_x                      1
School_x                        1
subgroup                        1
Denominator                     1
PercentageStudents              1
RoadMapRegionDenominator        1
RoadMapRegionPercentage         1
DistrictCode_y              33865
District_y                  33865
School_y                    33865
TotalEnrollmentOctober      33865
dRoadMapRegionFlag          33865
SchoolType                  33865
ElementarySchoolFlag        33865
MiddleSchoolFlag            33865
HighSchoolFlag              33865
StreetAddress               33865
StreetAddress.1             33865
City                        33865
State                       33865
zip                         33865
lat                         33865
long                        33865
closed                      33865
GradeSpan                   33865
GradeLevelStart             33865
GradeLevelEnd               33865
GradeLevelSortOrderStart    33865
GradeLevelSortOrderEnd      33865
NCESSchoolID                33865
NCESLocaleCode              33865
NCESLocale                  33865
Source                      33865
dtype: int64

In [112]:
new_df = joined_df[['indicator', 'academicyear', 'District_x', 'School_x', 'subgroup', 'Denominator', 'PercentageStudents', 'RoadMapRegionDenominator', 'RoadMapRegionPercentage']]

In [113]:
new_df.dropna(inplace=True)

C:\Users\PANGMO~1\AppData\Local\Temp/ipykernel_1236/1925939579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(inplace=True)

In [114]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33864 entries, 0 to 33863
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   indicator                 33864 non-null  object
 1   academicyear              33864 non-null  object
 2   District_x                33864 non-null  object
 3   School_x                  33864 non-null  object
 4   subgroup                  33864 non-null  object
 5   Denominator               33864 non-null  float64
 6   PercentageStudents        33864 non-null  float64
 7   RoadMapRegionDenominator  33864 non-null  float64
 8   RoadMapRegionPercentage   33864 non-null  float64
dtypes: float64(4), object(5)
memory usage: 2.6+ MB

#### EDA

In [115]:
students = new_df[new_df["indicator"] == "Demographics"]
students

,indicator,academicyear,District_x,School_x,subgroup,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
0,Demographics,2015.0,Auburn School District,All Schools in District,Asian,15683.0,0.076388,126550.0,0.171529
1,Demographics,2016.0,Auburn School District,All Schools in District,Asian,16126.0,0.078631,127981.0,0.170979
2,Demographics,2017.0,Auburn School District,All Schools in District,Asian,16470.0,0.084517,129191.0,0.171421
3,Demographics,2018.0,Auburn School District,All Schools in District,Asian,17087.0,0.088957,128788.0,0.172268
4,Demographics,2019.0,Auburn School District,All Schools in District,Asian,17611.0,0.097269,128426.0,0.173329
...,...,...,...,...,...,...,...,...,...
11181,Demographics,2020.0,Tukwila School District,Tukwila Online Learning,Pacific Islander,77.0,0.012987,128760.0,0.031135
11182,Demographics,2021.0,Tukwila School District,Tukwila Online Learning,Pacific Islander,28.0,0.000000,122849.0,0.031868
11183,Demographics,2019.0,Tukwila School District,Tukwila Online Learning,White,56.0,0.535714,128426.0,0.267337
11184,Demographics,2020.0,Tukwila School District,Tukwila Online Learning,White,77.0,0.324675,128760.0,0.258395
11185,Demographics,2021.0,Tukwila School District,Tukwila Online Learning,White,28.0,0.250000,122849.0,0.244748

In [130]:
teachers = new_df[new_df["indicator"] == "TeacherDemographics"]
teachers

,indicator,academicyear,District_x,School_x,subgroup,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
11186,TeacherDemographics,2015.0,Auburn School District,All Schools in District,Asian,846.0,0.036643,6835.0,0.064667
11187,TeacherDemographics,2016.0,Auburn School District,All Schools in District,Asian,869.0,0.031070,7030.0,0.064011
11188,TeacherDemographics,2017.0,Auburn School District,All Schools in District,Asian,916.0,0.025109,7205.0,0.063983
11189,TeacherDemographics,2018.0,Auburn School District,All Schools in District,Asian,927.0,0.028047,7170.0,0.067643
11190,TeacherDemographics,2019.0,Auburn School District,All Schools in District,Asian,939.0,0.028754,7180.0,0.073259
...,...,...,...,...,...,...,...,...,...
33859,TeacherDemographics,2020.0,Tukwila School District,Tukwila Online Learning,Years Experience: 20+,0.0,0.000000,7261.0,0.178488
33860,TeacherDemographics,2021.0,Tukwila School District,Tukwila Online Learning,Years Experience: 20+,0.0,0.000000,7274.0,0.190542
33861,TeacherDemographics,2019.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7180.0,0.185376
33862,TeacherDemographics,2020.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7261.0,0.191158
33863,TeacherDemographics,2021.0,Tukwila School District,Tukwila Online Learning,Years Experience: 5-10,0.0,0.000000,7274.0,0.208001

In [94]:
students_auburn = students[students["District_x"] == "Auburn School District"]
students_federal = students[students["District_x"] == "Federal Way Public Schools"] 
students_highline = students[students["District_x"] == "Highline Public Schools"] 
students_kent = students[students["District_x"] == "Kent School District"] 
students_renton = students[students["District_x"] == "Renton School District"] 
students_charter = students[students["District_x"] == "Road Map Region Charter Schools"] 
students_south = students[students["District_x"] == "South Seattle"] 
students_tukwila = students[students["District_x"] == "Tukwila School District"]

In [131]:
teachers_auburn = teachers[teachers["District_x"] == "Auburn School District"]
teachers_federal = teachers[teachers["District_x"] == "Federal Way Public Schools"] 
teachers_highline = teachers[teachers["District_x"] == "Highline Public Schools"] 
teachers_kent = teachers[teachers["District_x"] == "Kent School District"] 
teachers_renton = teachers[teachers["District_x"] == "Renton School District"] 
teachers_charter = teachers[teachers["District_x"] == "Road Map Region Charter Schools"] 
teachers_south = teachers[teachers["District_x"] == "South Seattle"] 
teachers_tukwila = teachers[teachers["District_x"] == "Tukwila School District"]

In [122]:
students_auburn.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,1372.569767,0.084184,127464.906977,0.172876
Black/African American,1372.569767,0.072234,127464.906977,0.156710
Latinx,1372.569767,0.301817,127464.906977,0.266634
Multiracial,1372.569767,0.104453,127464.906977,0.092663
Native American,1372.569767,0.013528,127464.906977,0.006422
Pacific Islander,1372.569767,0.041339,127464.906977,0.029954
White,1372.569767,0.382446,127464.906977,0.274716

In [123]:
students_federal.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,1030.971429,0.102664,127535.838095,0.172780
Black/African American,1030.971429,0.141223,127535.838095,0.156527
Latinx,1030.971429,0.301456,127535.838095,0.266161
Multiracial,1030.971429,0.125873,127535.838095,0.092528
Native American,1030.971429,0.005571,127535.838095,0.006455
Pacific Islander,1030.971429,0.050385,127535.838095,0.029890
White,1030.971429,0.272828,127535.838095,0.275634

In [124]:
students_highline.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,1095.82,0.137268,127481.112,0.172796
Black/African American,1095.82,0.141641,127481.112,0.156545
Latinx,1095.82,0.378334,127481.112,0.266091
Multiracial,1095.82,0.065547,127481.112,0.092506
Native American,1095.82,0.008619,127481.112,0.006461
Pacific Islander,1095.82,0.037077,127481.112,0.029877
White,1095.82,0.231500,127481.112,0.275700

In [125]:
students_kent.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,1237.028939,0.178907,127521.427653,0.172825
Black/African American,1237.028939,0.124376,127521.427653,0.156620
Latinx,1237.028939,0.224237,127521.427653,0.266445
Multiracial,1237.028939,0.100227,127521.427653,0.092610
Native American,1237.028939,0.003880,127521.427653,0.006435
Pacific Islander,1237.028939,0.024993,127521.427653,0.029931
White,1237.028939,0.343368,127521.427653,0.275110

In [126]:
students_renton.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,1174.816754,0.213881,127484.602094,0.172857
Black/African American,1174.816754,0.174077,127484.602094,0.156683
Latinx,1174.816754,0.238664,127484.602094,0.266554
Multiracial,1174.816754,0.091784,127484.602094,0.092639
Native American,1174.816754,0.006522,127484.602094,0.006427
Pacific Islander,1174.816754,0.010507,127484.602094,0.029943
White,1174.816754,0.264552,127484.602094,0.274873

In [127]:
students_charter.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,470.538462,0.061934,127618.961538,0.173478
Black/African American,470.538462,0.435646,127618.961538,0.157935
Latinx,470.538462,0.186198,127618.961538,0.271700
Multiracial,470.538462,0.099687,127618.961538,0.094171
Native American,470.538462,0.004395,127618.961538,0.006069
Pacific Islander,470.538462,0.004439,127618.961538,0.030706
White,470.538462,0.206367,127618.961538,0.265910

In [128]:
students_south.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,986.648084,0.208490,127502.783972,0.172856
Black/African American,986.648084,0.307723,127502.783972,0.156674
Latinx,986.648084,0.177939,127502.783972,0.266632
Multiracial,986.648084,0.095075,127502.783972,0.092667
Native American,986.648084,0.006788,127502.783972,0.006422
Pacific Islander,986.648084,0.009125,127502.783972,0.029954
White,986.648084,0.194836,127502.783972,0.274771

In [129]:
students_tukwila.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,925.369565,0.249769,127462.73913,0.172893
Black/African American,925.369565,0.225333,127462.73913,0.156747
Latinx,925.369565,0.283423,127462.73913,0.266827
Multiracial,925.369565,0.064598,127462.73913,0.092725
Native American,925.369565,0.009763,127462.73913,0.006408
Pacific Islander,925.369565,0.034701,127462.73913,0.029971
White,925.369565,0.132413,127462.73913,0.274403

In [142]:
teachers_auburn.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,76.453488,0.038049,7139.005814,0.068762
Black/African American,76.453488,0.026531,7139.005814,0.044044
Latinx,76.453488,0.029930,7139.005814,0.045860
Masters Degree or Higher,76.453488,0.671276,7139.005814,0.677925
Multiracial,76.453488,0.009214,7139.005814,0.027899
Native American,76.453488,0.014606,7139.005814,0.005246
Not Provided,40.133333,0.003548,7139.115152,0.000920
Pacific Islander,76.453488,0.004591,7139.005814,0.004788
White,76.453488,0.856189,7139.005814,0.802482
Years Experience: 0-5,76.453488,0.254495,7139.005814,0.350785
Years Experience: 10-15,76.453488,0.156983,7139.005814,0.151597
Years Experience: 15-20,76.453488,0.131186,7139.005814,0.121643
Years Experience: 20+,76.453488,0.256763,7139.005814,0.180815
Years Experience: 5-10,76.453488,0.183131,7139.005814,0.195160

In [143]:
teachers_federal.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,55.909657,0.048703,7133.697819,0.068537
Black/African American,55.909657,0.031253,7133.697819,0.043864
Latinx,55.909657,0.031800,7133.697819,0.045520
Masters Degree or Higher,55.909657,0.548305,7133.697819,0.677291
Multiracial,55.909657,0.046318,7133.697819,0.027755
Native American,55.909657,0.001537,7133.697819,0.005238
Not Provided,28.630573,0.000000,7133.636943,0.000910
Pacific Islander,55.909657,0.005744,7133.697819,0.004756
White,55.739130,0.710935,7133.375776,0.803485
Years Experience: 0-5,55.909657,0.323224,7133.697819,0.350821
Years Experience: 10-15,55.909657,0.122829,7133.697819,0.151822
Years Experience: 15-20,55.909657,0.099990,7133.697819,0.121688
Years Experience: 20+,55.739130,0.174934,7133.375776,0.180660
Years Experience: 5-10,55.909657,0.156983,7133.697819,0.195002

In [144]:
teachers_highline.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,57.812261,0.059061,7131.819923,0.068519
Black/African American,57.109023,0.032095,7130.921053,0.043814
Latinx,57.230189,0.067940,7132.132075,0.045416
Masters Degree or Higher,56.486989,0.628825,7131.524164,0.677335
Multiracial,58.189189,0.011915,7133.359073,0.027812
Native American,57.612167,0.004811,7133.555133,0.005239
Not Provided,30.111111,0.000072,7133.273810,0.000887
Pacific Islander,58.189189,0.001885,7133.359073,0.004748
White,56.486989,0.766487,7131.524164,0.803653
Years Experience: 0-5,57.109023,0.376471,7130.921053,0.350268
Years Experience: 10-15,57.082707,0.123656,7132.312030,0.151873
Years Experience: 15-20,57.109023,0.095577,7130.921053,0.121667
Years Experience: 20+,57.109023,0.157709,7130.921053,0.180828
Years Experience: 5-10,56.486989,0.195509,7131.524164,0.195227

In [145]:
teachers_kent.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,66.416667,0.054480,7137.294872,0.068654
Black/African American,66.416667,0.030333,7137.294872,0.043969
Latinx,66.416667,0.032535,7137.294872,0.045717
Masters Degree or Higher,66.207668,0.637747,7137.731629,0.677696
Multiracial,66.416667,0.023248,7137.294872,0.027826
Native American,66.416667,0.005401,7137.294872,0.005243
Not Provided,34.072131,0.003683,7137.314754,0.000918
Pacific Islander,66.416667,0.002997,7137.294872,0.004777
White,66.207668,0.822252,7137.731629,0.802816
Years Experience: 0-5,66.416667,0.308359,7137.294872,0.350941
Years Experience: 10-15,66.207668,0.153309,7137.731629,0.151655
Years Experience: 15-20,66.416667,0.133511,7137.294872,0.121679
Years Experience: 20+,66.416667,0.194472,7137.294872,0.180704
Years Experience: 5-10,66.416667,0.187421,7137.294872,0.195000

In [146]:
teachers_renton.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,62.380208,0.065821,7138.020833,0.068720
Black/African American,62.380208,0.035589,7138.020833,0.044008
Latinx,62.380208,0.030807,7138.020833,0.045799
Masters Degree or Higher,61.153061,0.644729,7136.428571,0.677628
Multiracial,62.638743,0.045944,7137.670157,0.027877
Native American,62.638743,0.008439,7137.670157,0.005243
Not Provided,32.766304,0.000000,7137.717391,0.000919
Pacific Islander,62.638743,0.001371,7137.670157,0.004784
White,61.153061,0.765129,7136.428571,0.802957
Years Experience: 0-5,61.768041,0.348911,7135.902062,0.350692
Years Experience: 10-15,62.072539,0.148243,7137.461140,0.151668
Years Experience: 15-20,62.380208,0.097442,7138.020833,0.121649
Years Experience: 20+,61.153061,0.156784,7136.428571,0.180750
Years Experience: 5-10,62.015544,0.208611,7136.269430,0.195181

In [147]:
teachers_charter.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,29.923077,0.113071,7215.192308,0.070620
Black/African American,29.923077,0.095353,7215.192308,0.045939
Latinx,29.923077,0.121768,7215.192308,0.049327
Masters Degree or Higher,29.923077,0.517361,7215.192308,0.681447
Multiracial,29.923077,0.005274,7215.192308,0.028578
Native American,29.923077,0.003175,7215.192308,0.005335
Not Provided,18.523810,0.000000,7214.523810,0.001297
Pacific Islander,29.923077,0.020181,7215.192308,0.005288
White,29.923077,0.641179,7215.192308,0.793635
Years Experience: 0-5,29.923077,0.769671,7215.192308,0.357895
Years Experience: 10-15,29.923077,0.024712,7215.192308,0.148656
Years Experience: 15-20,29.923077,0.004091,7215.192308,0.121788
Years Experience: 20+,29.923077,0.000000,7215.192308,0.179726
Years Experience: 5-10,29.923077,0.201526,7215.192308,0.191935

In [148]:
teachers_south.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,63.703833,0.109573,7139.965157,0.068739
Black/African American,63.703833,0.081257,7139.965157,0.044044
Latinx,63.703833,0.046738,7139.965157,0.045853
Masters Degree or Higher,63.703833,0.703607,7139.965157,0.677822
Multiracial,63.703833,0.021773,7139.965157,0.027878
Native American,63.703833,0.002374,7139.965157,0.005246
Not Provided,32.489286,0.000000,7140.053571,0.000925
Pacific Islander,63.703833,0.006975,7139.965157,0.004790
White,63.703833,0.679044,7139.965157,0.802526
Years Experience: 0-5,63.703833,0.361016,7139.965157,0.351062
Years Experience: 10-15,63.703833,0.142102,7139.965157,0.151571
Years Experience: 15-20,63.703833,0.117287,7139.965157,0.121674
Years Experience: 20+,63.703833,0.128818,7139.965157,0.180715
Years Experience: 5-10,63.703833,0.198512,7139.965157,0.194978

In [149]:
teachers_tukwila.groupby('subgroup').mean("PercentageStudents")

,Denominator,PercentageStudents,RoadMapRegionDenominator,RoadMapRegionPercentage
subgroup,,,,
Asian,49.083333,0.086760,7144.083333,0.069021
Black/African American,49.083333,0.040124,7144.083333,0.044191
Latinx,49.083333,0.051878,7144.083333,0.046215
Masters Degree or Higher,49.083333,0.611434,7144.083333,0.677840
Multiracial,49.083333,0.029760,7144.083333,0.028028
Native American,49.083333,0.000000,7144.083333,0.005246
Not Provided,29.146341,0.000000,7145.390244,0.000933
Pacific Islander,49.083333,0.016612,7144.083333,0.004809
White,49.083333,0.649866,7144.083333,0.801558
Years Experience: 0-5,49.083333,0.281303,7144.083333,0.351711
Years Experience: 10-15,49.083333,0.143179,7144.083333,0.151436
Years Experience: 15-20,49.083333,0.120869,7144.083333,0.121543
Years Experience: 20+,49.083333,0.148974,7144.083333,0.180553
Years Experience: 5-10,49.083333,0.180675,7144.083333,0.194756